<!DOCTYPE html>
<html>
<head>
	<title>Decoder</title>
</head>
<body>
<div class='container'>
<form id="">
		<div class="row">
			<!-- Legend -->
		</div>
		<div class='row'>
			<div class='col-md-5'>
				<p>
					<textarea placeholder="Enter your text" autofocus="autofocus" class="form-control input-lg" name="input_text" id="input_text"></textarea>
				</p>
				<!-- Input form for user text-->
			</div>
			<div class='col-md-2'>
				<!-- Button and shift input form -->
				<textarea placeholder="shift" autofocus="autofocus" class="form-control input-md shift" name="shift" id="shift"></textarea>				
				<p>
					<input type="button" name="commit" value="Submit" class="submit btn btn-lg btn-primary btn-block">
				</p>
			</div>
			<div class='col-md-5'>
				<!-- Output form for encoded/decoded text -->
				<p>
				<textarea placeholder="Here will apear decoded text" autofocus="autofocus" class="form-control input-lg" name="output_text" id="output_text"></textarea>
				</p>
			</div>
		</div>
		<div class="row">
			<!-- Put diagrams here  -->
		</div>
		<div class="row">
			<!-- Put notification here -->
			<p id='notice'></p>
		</div>
	</form>
</div>
</body>
</html>